elpa/
eshell/
transient/
auto-save-list/
recentf
data/
etc/
var/
eln-cache/
eaf/
request/
projects
places
multisession/
forge*
epkgs/
dirvish/
amx-items
bookmarks
tramp
vimish-fold
tldr
session*
rime/
blink-search.db
history
/.mc-lists.el
/.lsp-session-v1
/.emacs.desktop
/.cache/
/info-history
/lsp-bridge/
/games/
